.card {
    width: 80vw;
    margin: 15px auto;

    .cartItem {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 1.5rem;
        margin-bottom: 1.5rem;
        border: 1px solid #d3d3d3;
        border-radius: 10px;
    }

    .image {
        width: 100%;
        display: flex;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 2px;
        }
    }

    .summary {
        height: 40vh;
        border: 1px solid #d3d3d3;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}